<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show List</title>
</head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div>
        <form th:action="@{/createPeople}" th:object="${form}" method="post">
            <div class="form-group">
                <label th:for="name">이름</label>
                <input type="text" th:field="*{name}" class="form-control"
                       placeholder="이름 입력">
            </div>
            <div class="form-group">
                <label th:for="age">나이</label>
                <input type="number" th:field="*{age}" class="form-control"
                       placeholder="나이 입력">
            </div>
            <div class="form-group">
                <label th:for="country">국가</label>
                <input type="text" th:field="*{country}" class="form-control"
                       placeholder="국가 입력">
            </div>
            <button type="submit" class="btn btn-dark" style="float: right">입력하기</button>
            <br><br>
        </form>
    </div>
    <div style="float: right" th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>